@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Regular.woff');
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

p{
    font-family: "Raleway", serif;
}
pre{
    font-family: "Raleway", serif;
}

h1{
    font-family: 'Lato', sans-serif;
}

h2{
    font-family: 'Lato', sans-serif;
}

h3{
    font-family: 'Lato', sans-serif;
    padding-left: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    background: #dbc2a4;
    width: 15em;
    
}


h4{
    font-family: 'Lato', sans-serif;
    padding-left: 2em;
}

html{
    
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    width: cover;
    height: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-right: solid;
    background-color: white;
}

header h1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
}

header figure{
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin-top: 0px;
    margin-bottom: 0px;
    height: 250px;
    width: auto;
}

header h2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
}

header{
    background-color: #782221 ;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-top: -20px;
    width: 1160px;
    border-right: solid;
      
}

header a img{
    
    border-radius: 5em;
    margin-top: 5em;
    object-fit: cover;

    width: 10em;
    height: auto;
    box-shadow: 0 0 3em white;
    cursor: zoom-in;
}

body{
    width: 1160px;
    border-right: solid;
    background-color: #782221;
    
}

footer{
    
    background-color: #782221;
}


section {
   display: inline-block;
   background-color: #782221;
}

.deux{
    background-color: white;
}

.un{
    display: inline-block
    
}

.couleur_1{
    color: white;
}

.couleur_2{
    color: white;
}

.couleur_3{
    color: white;
}